<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FilePath" value="c:\Working folder\Temp\db.txt"/>
    <add key="TypeDAL" value="DB"/>
    <add key="TypeBLL" value="Basic"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source = EPRUSARW0806; Initial Catalog = Task1; Integrated Security = True" name="Default"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>