@model List<Task_1.PL.WEB_UI.Models.Recipie.RecipieVM>
<table class="table-bordered" id="recipies">
    @if (Model.Capacity == 0)
    {
        @:No Recipies
    }
    else
    {
        <tr>
            @foreach (var recipie in Model)
            {
                @:<td>
                    <img id="@recipie.Id" width="64" height="64" src="@Url.Action("Get","Image", new { Id = recipie.Image_id })" />
                @:</td>
            }
        </tr>
    }
</table>