@model List<Task_1.PL.WEB_UI.Models.Recipie.RecipieVM>
<table>
   @foreach (var recipie in Model)
   {
        @:<tr>
            @:<td>
                @Html.DisplayFor(ModelItem => recipie.Title)
            @:</td>
        @:</tr>
    }
   @foreach (var recipie in Model)
   {
        @:<tr>
            @:<td>
                @Html.DisplayFor(ModelItem => recipie.Description)
            @:</td>
        @:</tr>
    }
    
   @foreach (var recipie in Model)
   {
        @:<tr>
            @:<td>
                <img width="64" height="64" src="@Url.Action("Get","Image", new { Id = recipie.Image_id })" />
            @:</td>
        @:</tr>
    }
</table>