@model IEnumerable<int>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@using (Html.BeginForm("Upload", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="image" />
    <button type="submit">Добавить</button>
}

@foreach (var imageId in Model)
{
    <img width="200" height="200" src="@Url.Action("Get", new { Id = imageId })" />
}
