USE [master]
GO
/****** Object:  Database [Task1]    Script Date: 27.07.2018 5:34:54 ******/
CREATE DATABASE [Task1]
 CONTAINMENT = NONE
ALTER DATABASE [Task1] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Task1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Task1]
GO
USE [Task1]
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Image_id] [int] NOT NULL,
 CONSTRAINT [PK_Awards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Data] [varbinary](max) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Birthdate] [datetime2](7) NOT NULL,
	[Image_id] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_Awards]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Awards](
	[Award_id] [int] NOT NULL,
	[User_id] [int] NOT NULL,
 CONSTRAINT [PK_Users_Awards] PRIMARY KEY CLUSTERED 
(
	[Award_id] ASC,
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Awards] ON 

INSERT [dbo].[Awards] ([Id], [Title], [Description], [Image_id]) VALUES (1, N'Medal_of_Glory', N'strange medal....', 7)
INSERT [dbo].[Awards] ([Id], [Title], [Description], [Image_id]) VALUES (2, N'For Honor', N'a lot of text', 8)
INSERT [dbo].[Awards] ([Id], [Title], [Description], [Image_id]) VALUES (3, N'Honor_Heart', N'be cool', 9)
SET IDENTITY_INSERT [dbo].[Awards] OFF
SET IDENTITY_INSERT [dbo].[Images] ON 

SET IDENTITY_INSERT [dbo].[Images] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Birthdate], [Image_id]) VALUES (2, N'Alex_Mercer', CAST(N'1999-07-05T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Users] ([Id], [Name], [Birthdate], [Image_id]) VALUES (3, N'John_Oracle', CAST(N'1970-08-12T00:00:00.0000000' AS DateTime2), 2)
INSERT [dbo].[Users] ([Id], [Name], [Birthdate], [Image_id]) VALUES (4, N'Ivan morenkov', CAST(N'1999-01-20T00:00:00.0000000' AS DateTime2), 15)
SET IDENTITY_INSERT [dbo].[Users] OFF
INSERT [dbo].[Users_Awards] ([Award_id], [User_id]) VALUES (1, 2)
INSERT [dbo].[Users_Awards] ([Award_id], [User_id]) VALUES (1, 3)
INSERT [dbo].[Users_Awards] ([Award_id], [User_id]) VALUES (3, 2)
ALTER TABLE [dbo].[Awards]  WITH NOCHECK ADD  CONSTRAINT [FK_Awards_Images] FOREIGN KEY([Image_id])
REFERENCES [dbo].[Images] ([Id])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Awards] NOCHECK CONSTRAINT [FK_Awards_Images]
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD  CONSTRAINT [FK_Users_Images] FOREIGN KEY([Image_id])
REFERENCES [dbo].[Images] ([Id])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Users] NOCHECK CONSTRAINT [FK_Users_Images]
GO
ALTER TABLE [dbo].[Users_Awards]  WITH CHECK ADD  CONSTRAINT [FK_Users_Awards_Awards] FOREIGN KEY([Award_id])
REFERENCES [dbo].[Awards] ([Id])
GO
ALTER TABLE [dbo].[Users_Awards] CHECK CONSTRAINT [FK_Users_Awards_Awards]
GO
ALTER TABLE [dbo].[Users_Awards]  WITH CHECK ADD  CONSTRAINT [FK_Users_Awards_Users] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Users_Awards] CHECK CONSTRAINT [FK_Users_Awards_Users]
GO
/****** Object:  StoredProcedure [dbo].[Awards.Create]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Awards.Create]
    @Title nvarchar(50),
    @Description nvarchar(250),
    @Image_id int
AS
BEGIN

    -- Insert statements for procedure here
     INSERT INTO [dbo].[Awards]
                ([Title],
                [Description],
                [Image_id])
     VALUES
             (@Title,
             @Description,
             @Image_id)
	SELECT SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[Awards.DeleteAwardById]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Awards.DeleteAwardById]
	@Id int
AS
BEGIN
	BEGIN TRAN

    DELETE FROM [dbo].[Awards]
    WHERE [Id] = @Id;

	DELETE FROM [dbo].[Users_Awards]
    WHERE Award_id = @Id;

	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[Awards.GetAll]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Awards.GetAll]
	-- Add the parameters for the stored procedure here
	AS
BEGIN
		SELECT [Id],
           [Title],
		   [Description],
		   [Image_id]
    FROM [dbo].[Awards]

END
GO
/****** Object:  StoredProcedure [dbo].[Awards.GetAwardById]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Awards.GetAwardById]
	-- Add the parameters for the stored procedure here
		@Id int
AS
BEGIN
		SELECT [Id],
           [Title],
		   [Description],
		   [Image_id]
    FROM [dbo].[Awards]
	WHERE [Id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Awards.GetAwardsByUserId]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Awards.GetAwardsByUserId]
	-- Add the parameters for the stored procedure here
		@Id int
AS
BEGIN

		SELECT [Id],
           [Title],
		   [Description],
		   [Image_id],
		   Users_Awards.User_id
    FROM [dbo].[Awards]
	INNER JOIN Users_Awards ON [Awards].Id = [Users_Awards].Award_id
	WHERE [User_id] = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Awards.UpdateAwardById]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Awards.UpdateAwardById]
	@Id int,
    @Title nvarchar(50),
    @Description nvarchar(250),
    @Image_id int
AS
BEGIN

    UPDATE [dbo].[Awards]
               SET
                 [Title] = @Title,
                 [Description] = @Description,
                 [Image_id] = @Image_id
    WHERE [Id] = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[Images.Create]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Images.Create]
	@Data varbinary(MAX),
    @Type nvarchar(50)
AS
BEGIN
     INSERT INTO [dbo].[Images]
                ([Data],
                 [Type])
     VALUES
             (@Data,
             @Type)
SELECT SCOPE_IDENTITY() 
END
GO
/****** Object:  StoredProcedure [dbo].[Images.DeleteImageById]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Images.DeleteImageById]
	@Id int
AS
BEGIN

	DECLARE @UserID  int = null;

	SELECT @UserID = U.Id FROM Users U
	WHERE U.Image_id = @Id; 

	BEGIN TRAN

	UPDATE [dbo].[Awards]
    SET [Image_id] = 0
	WHERE [Image_id] = @Id;

	UPDATE [dbo].[Users]
    SET [Image_id] = 0
	WHERE [Image_id] = @Id;

    DELETE FROM [dbo].[Images]
    WHERE [Id] = @Id;

	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[Images.GetAll]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Images.GetAll]
	-- Add the parameters for the stored procedure here
	AS
BEGIN

		SELECT [Id],
           [Data],
		   [Type]
    FROM [dbo].[Images]

END
GO
/****** Object:  StoredProcedure [dbo].[Images.GetImageById]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Images.GetImageById]
	@Id int
	AS
BEGIN

	SELECT [Id],
           [Data],
		   [Type]
    FROM [dbo].[Images]
	WHERE [Id] = @Id

END
GO
/****** Object:  StoredProcedure [dbo].[Images.UpdateImageById]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Images.UpdateImageById]
	@Id int,
    @Type nvarchar(50),
    @Data varbinary(MAX)
AS
BEGIN

    UPDATE [dbo].[Images]
               SET 
			   [Type] = @Type,
               [Data] = @Data
    WHERE [Id] = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[Users.AddAward]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users.AddAward]
	-- Add the parameters for the stored procedure here
	@User_id int,
    @Award_id int

AS
BEGIN
     INSERT INTO [dbo].[Users_Awards]
                ([User_id],
				[Award_id])
     VALUES
             (@User_id,
             @Award_id)
END
GO
/****** Object:  StoredProcedure [dbo].[Users.Create]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users.Create]
	-- Add the parameters for the stored procedure here
	@Name nvarchar(50),
    @Birthdate dateTime2,
    @Image_id int
AS
BEGIN

     INSERT INTO [dbo].[Users]
                ([Name],
                 [Birthdate],
                 [Image_id])
     VALUES
             (@Name,
             @Birthdate,
             @Image_id)
SELECT SCOPE_IDENTITY() 
END
GO
/****** Object:  StoredProcedure [dbo].[Users.DeleteUserById]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users.DeleteUserById]
	@Id int
AS
BEGIN
	DECLARE @userIdPfoto  int = null;

	SELECT @userIdPfoto = U.Image_id FROM Users U
	WHERE U.ID = @Id; 

	BEGIN TRAN

    DELETE FROM [dbo].[Users]
    WHERE [Id] = @Id;

	DELETE FROM [dbo].[Images]
    WHERE [Id] = @userIdPfoto AND @userIdPfoto != 0;

	DELETE FROM [dbo].[Users_Awards]
    WHERE [User_id] = @Id;

	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[Users.GetAll]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Users.GetAll]
	-- Add the parameters for the stored procedure here
	AS
BEGIN
		SELECT [Id],
           [Name],
		   [Birthdate],
		   [Image_id]
    FROM [dbo].[Users]

END
GO
/****** Object:  StoredProcedure [dbo].[Users.GetUserById]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Users.GetUserById]
	-- Add the parameters for the stored procedure here
	@Id int
	AS
BEGIN

		SELECT [Id],
           [Name],
		   [Birthdate],
		   [Image_id]
    FROM [dbo].[Users]
	WHERE [Id] = @Id

END
GO
/****** Object:  StoredProcedure [dbo].[Users.RemoveAward]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users.RemoveAward]
	-- Add the parameters for the stored procedure here
	@User_id int,
    @Award_id int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    DELETE FROM [dbo].[Users_Awards]
    WHERE [User_id]=@User_id AND [Award_id]=@Award_id;

	SELECT SCOPE_IDENTITY() 

END
GO
/****** Object:  StoredProcedure [dbo].[Users.UpdateUserById]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users.UpdateUserById]
	@Id int,
    @Name nvarchar(50),
    @Birthdate dateTime2,
    @Image_id int
AS
BEGIN

    UPDATE [dbo].[Users]
               SET
                 [Name] = @Name,
                 [Birthdate] = @Birthdate,
                 [Image_id] = @Image_id
    WHERE [Id] = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[Users_Awards.GetMissingAwards]    Script Date: 27.07.2018 5:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Users_Awards.GetMissingAwards]
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT	  AA.Id, AA.Title, AA.[Description], AA.[Image_id]
	FROM  [Awards]  AA
	JOIN (SELECT A.Id FROM [Awards] A
	EXCEPT 
	SELECT UA.Award_id FROM [Users_Awards] UA
	WHERE UA.User_id = @Id) P
	ON P.Id = AA.Id
END
GO
USE [master]
GO
